
DCASE_research/challenge2019/task2(Audio_tagging)/data/origin_data/test/

DCASE_research/challenge2019/task2(Audio_tagging)/data/origin_data/train_curated/

DCASE_research/challenge2019/task2(Audio_tagging)/data/origin_data/train_noisy/
